.h32 {
    margin: 0.3rem 0;
    width: 100%;
}

.spane {
    color: black;
    font-size: 1.1rem;
    margin: 0;
    font-weight: bold;
}

.dive {
    margin-top: 0;
    font-size: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: wheat;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  border-right: 1px solid var(--border-color);
}