.countrys {
    width: 100px;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 1rem;
  transition: all 0.3s 0s ease;
}

.flags {
    margin-left: 10%;
    width: 70px;
    height: 70pxpx;
    border-radius: 1rem 1rem 0 0;
}

.flags:hover {
    transform: translate(0, -10px);
  }

.h222 {
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-weight: bolder;
}

.data {
  margin-top: 0;
  padding: 0.5rem;
  border-radius: 0 0 1rem 1rem;
  height: 100px;
}

.par {
    font-size: 1.1rem;
    font-weight: normal;
    text-decoration: none;
}

.spa {
    font-weight: bold;
    text-decoration: none;
}

.link {
    text-decoration: none;
    font-size: 5px;
    color: black;
    
}