.container {
    display: none;
}

@media (min-width: 1000px) 
{.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
}}



.spancontain {
    backdrop-filter: blur(16px) saturate(180%);
      background-color: wheat;
      font-weight: bold;
      color: var(--text-color);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      border-radius: 50%;
      margin: 0.2rem;
      min-width: 2rem;
      padding: 0 0.3rem;
      height: 2rem;
      text-decoration: none;
      cursor: pointer;

}

.spancontain:hover {
    background-color: lightcoral;
    color: #fff;
}


.pn {
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 100%;
  background-color:whitesmoke;
  padding: 0.4rem;
  border-radius: 1rem;
}

.spanpn {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: wheat;
    width: 100%;
}

.button {
    backdrop-filter: blur(16px) saturate(180%);
  background-color: wheat;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 50%;
  margin: 0.2rem;
  min-width: 2rem;
  padding: 0 0.3rem;
  height: 2rem;
  border-style: hidden;
  cursor: pointer;
}

.button:hover {
    background-color: lightcoral;
    color: #fff;
}

