
.container {
  background-color: white;
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("../../img/form.png");
  background-repeat: no-repeat;
  position: relative; /* Añadido */
  background-size: contain; /* Cambiado a contain para mostrar toda la imagen */
  background-position: center right; /* Centrar la imagen */
  
  margin: auto; /* Centrar el contenedor horizontalmente */
}

@media (max-width: 600px) {
  .container {
    position: relative;
    width: 100%;
    height: auto; 
    overflow: hidden; 
    background-size: cover;
  }
  }

.bbuton {
    display:flex;
    position:absolute;
    top: 20px;
    left: 30px;
  font-size: x-large;
    color: black;
}

  @media (max-width: 1000px) {
    .globo {
      display: none !important;
    }
  }


.country {
    margin: 0.5rem 0;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  
}

.trash {
    width: 1.5rem;
    cursor: pointer;
}

.content {
    display: flex;
  
 
  margin-left: 0px;
  margin-top: 50px;
  font-size: medium;
  font-style:initial;
  height: 10%;
}

.label {
    font-size: 1.2rem;
  width: 100%;
  font-weight: bolder;
  

}


.select {
    cursor: pointer;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    background: #f0f0f0;
    font-size: 1rem;
    color: black;
    font-family: "Quicksand", sans-serif;
    border-radius: 0.4rem;
    width: 100%;
    margin-bottom: 15px;
}

.input {

    border: solid black;
    outline: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    color: black;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .input {
      width: 80%;
    }
  }

.Error {
    color: lightcoral;
    font-size: 1rem;
    font-style:unset;
    margin: 0.5rem 0;
    font-weight: bolder;
}


    
.btn {
  margin: 1.5rem 0;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Verdana', 'Helvetica', sans-serif;
  font-weight: bold;
  color: #fff; /* Texto blanco */
  background-color: #3498db; /* Azul */
  border: 2px solid #2980b9; /* Borde azul más oscuro */
  width: 200px;
  height: 40px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  color: #3498db; /* Azul */
  background-color: #2980b9; /* Azul más oscuro */
}

@media (max-width: 767px) {
  .btn {
    font-size: 12px; /* Ajuste el tamaño de fuente para pantallas más pequeñas */
    width: 150px; /* Reduzca el ancho para pantallas más pequeñas */
    height: 30px;
  }
}


.rinput {
    margin: 0.5rem;
}


.radio {
    width: 100%;
  display: flex;
  font-size:large;
  flex-direction: row;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

