.container {
    background-color:whitesmoke;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 5px solid #ccc;
}

.bbuton {
    display:flex;
    position:absolute;
    top: 10px;
    left: 20px;
    width: 40px;
    height: 40px;
}

.globo {
    display: flex;
    position: relative;
    height: 100%;
    width: 300px;
    left: calc(100vw - 300px);
    top: 0;
    transform: scaleX(1.6);
  }
  @media (max-width: 1000px) {
    .globo {
      display: none !important;
    }
  }


.country {
    margin: 0.5rem 0;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  
}

.trash {
    width: 1.5rem;
    cursor: pointer;
}

.content {
    display: flex;
  
 
  margin-left: 0px;
  margin-top: 50px;
  font-size: medium;
  font-style:initial;
  height: 10%;
}

.label {
    font-size: 1.2rem;
  width: 100%;
  font-weight: bolder;
}


.select {
    cursor: pointer;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    background: #f0f0f0;
    font-size: 1rem;
    color: black;
    font-family: "Quicksand", sans-serif;
    border-radius: 0.4rem;
    width: 100%;
}

.input {

    border: solid black;
    outline: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    color: black;
}

@media (max-width: 768px) {
    .input {
      width: 80%;
    }
  }

.Error {
    color: lightcoral;
    font-size: 1rem;
    font-style:unset;
    margin: 0.5rem 0;
    font-weight: bolder;
}


    
.btn {
    
  margin: 1.5rem 0;
  
  cursor: pointer;
  size: 150px;
    font-size:15px;
        font-family:Verdana,Helvetica;
        font-weight: bolder;
                color:black;
        background:yellow;
        border: 1px;
        width:200px;
        height:40px;
        border-radius: 10px;
}

.btn:hover {
    color: yellow;
    background-color:black;
    cursor: pointer;
}

.rinput {
    margin: 0.5rem;
}


.radio {
    width: 100%;
  display: flex;
  font-size:large;
  flex-direction: row;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

