.container {
    background-image: url(../../img/FONDO.jpg);
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.bbuton {
    display:flex;
    position:absolute;
    top: 10px;
    left: 20px;
    width: 40px;
    height: 40px;
}

.globo {
    display: flex;
    position: absolute;
    height: 300px;
    width: 300px;
    right: 100px;
    top: 100px;
}


.country {
    margin: 0.5rem 0;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  
}

.trash {
    width: 1.5rem;
    cursor: pointer;
}

.content {
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-top: 50px;
  font-size: medium;
  font-style:initial;
  height: 50%;
}

.label {
    font-size: 1.2rem;
  width: 100%;
}

.select {
    cursor: pointer;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    background: #f0f0f0;
    font-size: 1rem;
    color: var(--background-color);
    font-family: "Quicksand", sans-serif;
    border-radius: 0.4rem;
    width: 100%;
}

.input {

    border: none;
    outline: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    width: 100%;
}

.Error {
    color: lightcoral;
    font-size: 1rem;
    font-style:unset;
    margin: 0.5rem 0;
    font-weight: bolder;
}


    
.btn {
    
  margin: 1.5rem 0;
  margin-left: 100px;
  cursor: pointer;
  size: 150px;
    font-size:15px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border: 1px;
        width:200px;
        height:40px;
        border-radius: 10px;
}

.btn:hover {
    color: #638cb5;
    background-color: white;
    cursor: pointer;
}

.rinput {
    margin: 0.5rem;
}

.radio {
    width: 100%;
  display: flex;
  font-size:large;
  flex-direction: row;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    position: absolute;
    left: 180px;
    top: 2px;
    font-size:xx-large;
    color:black;
    border-color: blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}