.form {
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  margin: 1rem 0;
  font-size: 0.7em;
  height: 2.5rem;
  border-radius: 0.75rem;
}

.inputt {
  border: solid black;
  outline: none;
  
  width: 50%;
  height: 2.3rem;
  border-radius: 0.75rem;
  padding: 12px 10px;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: black;
}
  
  .FcSearch {
    margin: 0 0.5rem;
    font-size: 2rem;
  }

  .FcSearch:hover {
    cursor: pointer;
  }

