.container {
    background-image: url("../../img/lpage.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
}

.box {
    margin-left: 300px;
}


    .title2 {
        margin-top: 200px;
        align-items: right;
        margin-left: 650px;
        display: flex;
        color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 70px; font-weight: 800; 
        line-height: 72px; margin: 40 0 24px; text-align: center; text-transform: uppercase; }
    

.paragraph {
    color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; 
    font-size: 14px; line-height: 32px; margin: 0 0 24px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    bottom: 20px;
    left: 350px;
}

.button {
    display: flex;
    position: absolute;
    bottom:250px;
    right:280px;
    font-size:35px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:wheat;
        background:#638cb5;
        border: 1px;
        width:190px;
        height:50px;
        border-radius: 25%;

}

.button:hover {
    color: #638cb5;
    background-color: white;
    cursor: pointer;
}

.logo {
display: flex;
position: absolute;
width: 25px;
height: 25px;
bottom: 20px;
right: 20px;
}

.creador {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 70px;
}

