.Nav {
    display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.h2 {
 margin-left: 50px;
    color: wheat;
    text-align: left; 
font-family: Arial Black; 
font-weight: bold; 
font-size: 50px; 
text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

.link {
    text-decoration: none;
}

.button {
  display: flex;
  position: absolute;
  top:30px;
  right:200px;
  size: 100px;
  font-size:25px;
      font-family:Verdana,Helvetica;
      font-weight:bold;
      color:wheat;
      background:#638cb5;
      border: 1px;
      width:150px;
      height:70px;
      border-radius: 20%;

}

.button:hover {
  color: #638cb5;
  background-color: white;
  cursor: pointer;
}
